<div class="inn">
  <%= render partial: "shared/sign", locals:{model: categories_path, total: "Category"}%>
  <%@category.each do |e|%>
    <div class="each">
      <div class="dee">
        <%= link_to e.name, category_path(e.id) %>
      </div>
      <div class="cash">
        <p>$<%= e.exchanges.sum(:amount)%></p>
        <%= button_to "remove #{e.name}", category_path(e.id), method: :delete %>
      </div>
      </div>
    <%end%>
  <div class="add">  
    <%= link_to "Add category", new_category_path %>
  </div>
</div>